    <div id="location_setup">
      <div class="info">
        Power your tweets with your location,<br/>
        Now with the Sprint Location Services.<br/>
        Your tweets tagged with your location<br/>-- auto-magically.<br/><br/>
        More info at <%= link_to "developer.sprint.com", "http://developer.sprint.com" %>.
      </div>
      <div class="text">
        <form method="post" action="#">
          <label for="text">API Key</label><br/>
          <input type="text" name="apikey" /><br/>
          <label for="text">Mobile Device</label><br/>
          <input type="text" name="mdn" /><br/>
          <input type="submit" value="Setup" name="commit" />
        </form>        
      </div>
    </div>
