<div id="location_setup">
  <div class="info">
    Power your tweets with your location,
    Now with the Sprint Location Services.
    Your tweets are auto-magically tagged with your location.
  </div>
  <div class="text">
    <span>Sign up for the location service at <%= link_to "http://sprintdevelopersandbox.com/", "http://sprintdevelopersandbox.com/" %></span>
    <%- form_tag setup_sprint_path, :method => :post do -%>
      <label for="text">API Key</label><br/>
      <%= text_field_tag 'apiKey' %><br/>
      <label for="text">Mobile Device Number</label><br/>
      <%= text_field_tag 'mdn' %><br/>
      <%= submit_tag 'Setup' %>
    <%- end -%>    
  </div>
</div>
